* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner {
  display: flex;
  flex-direction: column;
  height: 189px;
  width: 1283px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.list-item {
  height: 69px;
  width: 1280px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #35444f;
  padding: 0px 10px 0px 30px;
}

.list-item-content {
  color: white;
  font-size: 24px;
  padding: 24px 32px 18px 32px;
  border-left: 2px solid white;
}

.item-4 {
  border-right: 2px solid white;
}

#Title_first {
  font-size: 80px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 63px;
}

.tone span {
  color: #4bcaff;
}


p,
ul {
  margin-bottom: 10px;
}

.some_img {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner_for_center_item
{
  width: 1283px;
  height: 832px;
  margin-top: 108px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.li_another_nav_menu {
  height: 81px;
  width: 342px;
  font-size: 27px;
  list-style-type: none;
  color: #485863;
  font-family: Roboto;
  padding-top: 26px;
}

#border_for_ul 
{
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 0;
  width: 342px;
}



.conteiner_to_help_colum
{
  display: flex;
  flex-direction: column;
}
    
.ttext {
  color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
margin: 0;
}


.conteiner_one
{
  width: 885px;
  height: 141px;
  margin-top: 37px;
}
.conteinet_two
{
  margin-top: 13px;
  width: 885px;
  height: 109px;
}


.footer {
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 69px;
  flex-shrink: 0;
  background: rgba(99, 105, 110, 0.48);
}

.ul-in-footer {
  list-style-type: none;
  margin: 0;
  display: flex;
  width: 875px;
  justify-content: space-between;
  margin-left: 40px;
  text-align: center;
  padding: 20px 0;
}

.text-li-footer {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #0C1927;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

#copyright {
  margin: 0;
  margin-right: 40px;
  display: flex;
  width: 190px;
  height: 69px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #010101;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}